a,body,table,tr,td,li,p,input,textarea,pre{font-family:verdana,arial;font-size:8pt;color:#101610;padding:0;margin:0}
table{width:auto;table-layout:fixed;border-collapse:collapse;text-align:left}

div.main { width: 1000px; margin: 0 auto; }

#top_menu { position: static;  }
	#links     { float: left;  width: 70%; background: #ddd; padding: 5px; }
	#user_info { padding: 5px; width: 30%; background: #ddd; margin-left: 70%; text-align: right;}

#mid_area { width: 100%; }
	#left_menu { float: left; width: 20%; }
	#data_area { width: 80%; margin-left: 20%;  border-left: 1px solid gray; padding: 0px 10px; }

div.card { display: inline-block; text-align: center; }
div.counter { display: inline; border: 1px solid gray; padding: 5px 7px; }
